.body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

.header {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.DownExcu {
    color: aquamarine;
    font-size: 16px;
}

.YourP {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.ExcuRem {
    font-size: 21px;
    color: gray;
}

.Foot
{
text-align:right;
}